@font-face {
    font-family: 'Tourney';
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Tourney.woff") format('woff');
}
@font-face {
    font-family: 'Tourney';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/TourneyItalic.woff') format('woff');
} 
@font-face {
    font-family: "ByteBounce";
    font-style: normal;
    font-weight: 200;
    src: url("../fonts/ByteBounce.ttf") format("truetype");
}
@font-face {
    font-family: "BlueScreen";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/BlueScreen.ttf") format("truetype");
}
@font-face {
    font-family: "Blox2";
    src: url("../fonts/Blox2.ttf") format("truetype");
}
@font-face {
    font-family: "ms pgothic web";
    src: url("../fonts/MsPgothicwWeb.woff") format(woff)
}
@font-face {
    font-family: "DPComic";
    src: url("../fonts/dpcomic.woff2") format(woff2)
}
@font-face {
    font-family: "StardewValley";
    src: url("../fonts/StardewValley.woff2") format(woff2);

}
@font-face {
    font-family: "ComicSansMS";
    src: url("../fonts/ComicSansMS.ttf") format("truetype")
}
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-transform: lowercase;
    align-items: center;
}
.banner {
    font-family: "DPComic";
    font-size: large;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img {   
    width: auto;
    height: 30px;
}
.banner.retro-text {
    font-family: "DPComic";
    font-size: 20px;
    color: blue;
}
#frontpage-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#frontpage-intro {
    text-align: center;
}
#frontpage-intro p {
    font-family: "DPComic";
    font-size: 40px;
    color: #e841dd;
    margin-bottom: -20px;
}
#footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
#footer span, #footer a {
    font-family: "ComicSansMS";
    text-decoration: underline;
    color: rgb(217, 217, 217);
    line-height: 0.5em;
}
#button-style-box {
    background-color: #adadad;
    color: black;
    font: 15px tahoma, sans-serif;
    width: 40%;
    padding: 20px;
    border-color: #cbcbcb #4e474e #4e474e #cbcbcb;
    border-style: solid;
    border-width: 5px;
}
.retro-h2 {
    margin-top: 5%;
    font: 20px tahoma, sans-serif;
}
.retro-text {
    font-family: "DPComic";
    color: blue;
}
#button-style-box a, #button-style-box figcaption {
    text-decoration: none;
    color: blue;
}
.centered-img {
    text-align: center;
    align-items: center;
}
.button-style-img {
    border-color: #746974 #cbcbcb #cbcbcb #746974;
    border-style: solid;
    border-width: 5px;
}
.top-img {
    width: 98%;
    justify-content: center;
    display: flex;
    margin: 5px;
}
.grid-img {
    width: 95%;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px;
}
.image-grid figure {
    margin: 0;
    padding: 0;
}
figcaption {
    font-size: smaller;
}
.nav-bar {
    text-align: left;
    width: fit-content;
    position: fixed;
    top: 40%;
    left: 20%;
    transform: translateY(-40%);
    transform: translateX(-70%);
}
.nav-bar.retro-text hr {
    border-width: 2px;
    color: rgb(251, 83, 50);
    border-color: rgb(251, 83, 50);
}
.nav-bar.crazy-text hr {
    border-width: 1px;
    border-color: whitesmoke !important;
    color: whitesmoke !important;
}
.nav-bar.crazy-text a {
    padding: 0 10px 0 5px;
    color: rgb(208, 208, 208);
    font-size: 23px;
    text-decoration: none;
}
.nav-bar.retro-text a {
    padding: 0 10px 0 5px;
    font-size: 25px;
    color: blue;
    text-align: left;
    text-decoration: none;
}
.crazy-box {
    width: 40em;
    max-width: 90vw;
    overflow: auto;
    padding: 30px;
    width: 37%;
    background: url("../images/swirl.gif") #000232;
    background-blend-mode: overlay;
    color: rgb(220, 219, 219);
    font-size: larger;
    font-family: "ms pgothic web", tahoma, sans-serif;
    border-image: url("../images/border.gif") 0 10 repeat;
    border-image-repeat: round;
    border-left: 20px solid;
    border-right: 20px solid;
    overflow: auto;
}
.crazy-box a {
    color: #e841dd;
}
.crazy-text {
    font-family: "DPComic";
    color: #e841dd;
    margin-bottom: -10px;
}
.inline-img {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}
.hidden-text {
    display: none;
}
#hovered-el:hover .hidden-text {
    margin-top: 10px;
    display: block;
}
.stardew-title {
    font-family: "StardewValley" !important;
    color:rgb(97, 26, 13) !important;
    text-shadow: 1px 1px #CE9C5F !important;
    font-size: 25px !important;
    text-decoration: none !important;
}
.stardew-text {
    font-family: "StardewValley" !important;
    color:rgb(97, 26, 13) !important;
    text-shadow: 1px 0px #cfb28f !important;
    font-size: 25px !important;
    text-decoration: none !important;
    text-transform: lowercase;
}
.nav-bar.stardew-text a {
    text-decoration: none;
    font-size: 40px !important;
    color:rgb(97, 26, 13) !important;
    text-shadow: 1px 1px #CE9C5F !important;
}
.nav-bar.stardew-text hr {
    border-width: 2px;
    border-color: rgb(97, 26, 13);
}
.stardew-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 20px;
    border-radius: 2px;
    background-color: #fcd488;
    border-color: #f18817;
    align-items: left;
    box-shadow:
        inset 4px 4px 0 #e4b274, 
        0 0 0 3px #643424,
        0 0 0 6px #ed891a,
        0 0 0 9px #994f0f,
        0 0 0 12px #392f08;
}
.stardew-img {
    border-radius: 1px;
    box-shadow:
        0 0 0 3px #43380a,
        0 0 0 6px #e4b274;
}
.stardew-banner {
    padding: 10px;
    border-radius: 2px;
    background-color: #fcd488;
    border-color: #f18817;
    box-shadow:
        inset 4px 4px 0 #e4b274, 
        0 0 0 3px #643424,
        0 0 0 6px #ed891a,
        0 0 0 8px #392f08;
}